:root{
    --primary-color:#3A529C;
    --secondary-color:#44A1CF;
    --hover-color:#30314F;
}


body{
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    min-height: 100vh;
    margin: 0;
}

.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 415vh;
}

.contents h1{
    color: var(--hover-color);
}

a{
    text-decoration: none;
}

.backHome{
    margin: 2rem auto 0rem;
    color: var(--hover-color);
    font-size: 1.2rem;
    width: fit-content;
    padding: 0.5rem 1rem;

    border-radius: 1.5rem;
    background-color: #93718C;
}

.typeOfInput{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 33px;
}

.options{
    margin-bottom:1rem;
    border: 3px var(--primary-color) solid;
    font-weight: bolder;
    font-size: larger;
    display: block;
    width: 520px;
}

.inputBoxes{
    background-color: var(--primary-color);
    border:2px solid var(--secondary-color);
    padding: 1rem;
    margin: 1rem 1rem 1.5rem 0.2rem;
    height: 20px;
    width: 50px;
    overflow: scroll;
    color: white;
    font-size: larger;
}

.button{
    display: block;
    margin: 0px auto 2rem;
    padding: 10px 18px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 2px solid var(--primary-color);
}

.button:hover{
    background-color: var(--secondary-color);
}

.outputHere{
    margin: auto;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    color:var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: #F5CDCD;
    width: fit-content;
}


/* quiz css */

.quizContent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 210vh;
}

.section{
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 2rem 1rem;
}
.formQuiz{
    text-align: left;
}

.formQuiz label.question{
    display: block;
    
}

.radio{
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    background-color: #F5CDCD;
    border: 4px solid #93718C;
    padding: 21px;
    border-radius: 20px;
}
.radio .question{
    display: block;
}



.radio .optionAns{
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: inline-block;
}